/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
End of reset Stylesheet
*/

* {
    text-decoration: none;
}

body{
    background-color: whitesmoke;
}

header{
    background-color: whitesmoke;
    width: 100%;
    height: 10%;
}

header .title {
    font-family: Helvetica;
    font-size: 34px;
    font-weight: 900;
    color: #111111;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 6px lightgrey;
}

header .title a {
    color: tomato;
    font-weight: 950;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 5px;
}

header nav ul li a {
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    color: #111111;
}

#indexMain{
    display: inline-flex;
    position: relative;
    justify-content: center;
}

#indexMain #index-img {
    width: 60%;
}

/*
Slider for method page
*/

#methodMain{
  display: grid;
  grid-template-columns:1fr 6fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
}
#lBtn{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1/2;
  border: 0;
  background: transparent;
}
#lBtn img{
  position: fixed;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 5%;
}
#rBtn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column:3/4;
  grid-row: 1/2;
  border: 0;
  background: transparent;
}
#rBtn img{
  position: fixed;
  grid-column:3/4;
  grid-row: 1/2;
  height: 5%;
}
.sliderBox {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 5%;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  .slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
  }
  .slides div {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .slides div img{
    width: 70%;
    height: 50%;
  }
  .slideNav{
    grid-column: 2/3;
    grid-row: 2/3;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: auto;
      width: 100%;
      padding-bottom:40% ;
  }
  .slideNav a{
      text-shadow: 2px 2px 4px tomato;
      color: black;
      font-family: Arial;
      font-size: 20px;
      font-weight: 900;
      text-decoration: none;
      border-radius: 50%;
      width: 5%;
  }

  /*
  Timer
  */

#trackerMain{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}
.timerBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-top: 5%;
    width: 100%;
    height: min-content;
    grid-row: 1/2;
    grid-column: 1/4;
}
.selectBox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row: 1/2;
  grid-column: 1/2;
}
#selector{
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
}
#selectTask{
width: fit-content;
font-family: Arial;
font-weight: 600;
font-size: 200%;
background: tomato;


}

.timer{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  height: min-content;
  grid-column: 2/3;
  grid-row: 1/2;
}
  
  
  .controls {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr);
  grid-row: 1/2;
  grid-column: 2/3;
  }
  
  .display-remain-time {
    font-family: Helvetica;
    font-weight: 525;
    font-size: 75px;
    color:tomato;
    grid-column: 2/3;
    grid-row: 2/3;
    text-shadow: 2px 2px 12px dimgray;
  }
  
  .circle{
    grid-row: 1/2;
    grid-column: 2/3;
    align-content: center;
  }
  .circBase {
    fill: none;
    stroke: gray;
    stroke-width: 8px
  }
  
  .circProgress {
    fill: none;
    stroke: tomato;
    stroke-width: 8px;
    transition: stroke-dashoffset 0.7s;
  }
  
  .e-c-pointer {
    fill: lime;
    stroke:tomato;
    stroke-width: 2px;
  }
  
  #e-pointer { transition: transform 0.7s; }

  #buttons{  
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-columns: 3/4;
    grid-row: 1/2;
    justify-items: end;

  }

  #start{    
    position: relative;
    grid-columns: 2/3;
    grid-row: 2/3;
    border: black;
    background: tomato;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 200%;
    height: min-content;
    width: min-content;
  }
  #stop{    
    position: relative;
    grid-columns: 3/4;
    grid-row: 2/3;
    border: black;
    background: tomato;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 200%;
    height: min-content;
    width: min-content;
  }